<div class="ui three column stackable grid">
	<div class="six wide column">
		<app-task-entry-form></app-task-entry-form>
		<hr>
		<app-assign-task></app-assign-task>
		<hr>
		<!-- Legends :: START::-->
		<div class="ui top attached inverted header">Legends</div>
		<div class="ui bottom attached raised segment">
			<div class="ui basic red label">Rejected</div>
			<div class="ui teal label">Unpaid</div>
			<div class="ui label">Inactive Unselected</div>
			<div class="ui orange label">Inactive Selected</div>
			<div class="ui red label">Active</div>
			<div class="ui green label">Completed</div>
			<div class="ui blue label">Approved</div>
		</div>
		<!-- Legends :: END::-->
	</div>
	<div class="four wide column">
		<!-- Filter Form :: Start ::-->
		<div class="ui stackable mini form segment">
			<div class="field">
				<label for="theDate">Date</label>
				<div class="ui fluid labeled input">
					<input type="date" name="theDate" [(ngModel)]="theDate" (change)="get()">
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label for="selectedCategory">Filter Category</label>
					<select name="" id="" class="ui dropdown" [(ngModel)]="selectedCategory" (change)="get()">
						<option value="" selected='selected'>Select Category</option>
						<option *ngFor="let category of directory.getCategories()" [value]="category.id">
							{{ category.name }}
						</option>
					</select>
				</div>
				<div class="field">
					<label for="selectStatus">State</label>
					<select class="ui fluid dropdown" name="theStatus" [(ngModel)]="selectedState" (change)="get()">
						<option value="">State</option>
						<option value="REJECTED">REJECTED</option>
						<option value="UNPAID">UNPAID</option>
						<option value="INACTIVE">INACTIVE</option>
						<option value="ACTIVE">ACTIVE</option>
						<option value="COMPLETED">COMPLETED</option>
						<option value="APPROVED">APPROVED</option>
					</select>
				</div>
			</div>
			<button class="ui mini blue fluid button" (click)="toggleRequest()">
				{{ slotBased ? 'Slot Based' : 'Insert Date Based' }}
			</button>
		</div>
		<!-- Filter Form :: END :: -->
		<app-slot-view></app-slot-view>

	</div>
	<div class="six wide column">
		<div class="ui fluid icon input">
			<input type="text" placeholder="Search..." name="searchText" [(ngModel)]="searchText">
			<i class="search icon"></i>
		</div>
		<div class="ui scrollable segment" [hidden]="tasks.length === 0">
			<div class="ui divided ordered list">
				<div class="item" *ngFor="let task of tasks|search:'id,customerName':searchText">
					<div class="right floated content">
						<div class="ui label" [ngClass]="getColor(task)">
							{{ task.id }}
						</div>
					</div>
					<div class="content">
						<div class="header">
							{{ task.customerName }}
						</div>
						<div class="ui basic blue label">
							{{ task.insertedAt | date: 'shortTime'}}
						</div>
						<div class="ui basic blue label">{{ task.categoryName }}</div>
						<div class="ui basic blue label" *ngIf="task.slotTitle">
							{{ task.slotTitle }}
						</div>
						<div class="ui basic blue label">
							Rs. {{ task.amountCollected  }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>