<div class="ui centered stackable grid">
  <div class="ui eight wide column">
    <h2 class="ui top attached inverted header">
      <i class="lock icon"></i>Login Form
    </h2>
    <div class="ui attached form segment">
      <div class="field">
        <label for="username">UserName</label>
        <div class="ui icon input">
          <input type="text" name="username" [(ngModel)]="username">
        </div>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <div class="ui icon input">
          <input type="password" name="password" [(ngModel)]="password">
        </div>
      </div>
    </div>
    <div class="ui bottom attached centered segment">
      <button class="ui labeled icon green button" (click)="login()">
        <i class="checkmark icon"></i>
        Submit
      </button>
      <button class="ui labeled icon right floated red button" (click)="reset()">
        <i class="delete icon"></i>
        Reset
      </button>
    </div>
  </div>
</div>
