<div class="ui basic form segment">
  <div class="field">
    <label for="id">ID</label>
    <div class="ui input">
      <input type="number" min="0" step="1" [(ngModel)]="directory.id" (change)="getDirectory()">
    </div>
  </div>

  <div class="field">
    <label for="name">Name</label>
    <div class="ui input"><input type="text" [(ngModel)]="directory.name"></div>
  </div>

  <div class="field">
    <label for="type">Type</label>
    <div class="ui input">
      <select name="type" [(ngModel)]="directory.type">
        <option value="product">Product</option>
        <option value="account">Account</option>
        <option value="category">Category</option>
      </select>
    </div>
  </div>

  <hr>
  <button class="ui center aligned green button" (click)="save()">
    {{ directory.id > 0 ? 'Update' : 'Create' }}
  </button>
  <button class="ui center aligned red button" (click)="reset()">Reset</button>
</div>
