<nav class="ui inverted bottom attached menu fixed-top">
  <a [routerLinkActive]="['active']" [routerLink]="['/home']" class="red item">
    <i class="home icon"></i>
    Home
  </a>
  <a [routerLinkActive]="['active']" [routerLink]="['/task']" class="red item">
    <i class="cogs icon"></i>
    Tasks
  </a>
  <a [routerLinkActive]="['active']" [routerLink]="['/cashbook']" class="red item">
    <i class="rupee icon"></i>
    Cashbook
  </a>
  <a [routerLinkActive]="['active']" [routerLink]="['/report']" class="red item">
    <i class="database icon"></i>
    Report
  </a>
  <a [routerLinkActive]="['active']" [routerLink]="['/admin']" class="red item">
    <i class="user icon"></i>
    Admin
  </a>

  <div class="right menu">
    <a [routerLinkActive]="['active']" [routerLink]="['/login']" class="red item" (click)="logout()">
      <i class="lock icon"></i>
      {{ user.currentUser.name }}
    </a>
  </div>
</nav>
