<div class="ui basic form segment">
  <div class="two divided fields">
    <div class="field">
      <label for="customerPaid">Customer Paid</label>
      <div class="ui icon input">
        <i class="rupee icon"></i>
        <input type="number" [(ngModel)]="customerPaid">
      </div>
    </div>
    <div class="field">
      <label for="billAmount">Bill Amount</label>
      <div class="ui icon input">
        <i class="rupee icon"></i>
        <input type="number" name="billAmount" [(ngModel)]="billAmount" (change)="calculateReturnAmount()">
      </div>
    </div>
  </div>
  <hr>
  <div class="field">
    <label for="returnAmount">Return Amount</label>
    <div class="ui icon input">
      <i class="rupee icon"></i>
      <input type="number" name="returnAmount" [(ngModel)]="returnAmount" disabled="true">
    </div>
  </div>
  <div class="ui mini list">
    <li class="item" *ngFor="let note of objectKey(ww)">
      <div class="ui labeled fluid input">
        <input type="number" [(ngModel)]="notes[note]" (change)="calculate()">
        <div class="ui right tag label">
          <i class="rupee icon"></i>{{ note }}
        </div>
      </div>
    </li>
  </div>
  <button class="ui fluid red button" (click)="reset()">Reset</button>
</div>