<div class="ui two column grid">
  <div class="five wide column">
    <div class="ui form segment">
      <div class="field">
        <label for="date">Date</label>
        <input type="date" name="date" [(ngModel)]="theDate">
      </div>
      <div class="field">
        <label for="accountId">Account</label>
        <select name="" [(ngModel)]="selectedAccount" (change)="get()">
          <option value='0' selected="selected">Select Account</option>
          <option *ngFor="let account of directory.getAccounts()" [value]="account.id">{{ account.name }}</option>
        </select>
      </div>
      <hr>
      <button class="ui fluid button" (click)="get()">Show</button>
    </div>
  </div>
  <div class="eleven wide column">
    <h2 class="ui center aligned header" [hidden]="transactions.length > 0">No Transactions Details</h2>
    <table class="ui compant celled striped table" [hidden]="transactions.length === 0">
      <thead>
        <th>Description</th>
        <th>Transfer</th>
        <th>Amount</th>
        <th>Balance</th>
      </thead>
      <tbody>
        <tr *ngFor="let t of transactions" [class]="getClass(t)">
          <td>{{ t.description }}</td>
          <td>{{ t.giver_id === selectedAccount.id ? t.receiver : t.giver }} - {{ t.giver_id === selectedAccount.id }}
          </td>
          <td>{{ t.amount }}</td>
          <td>{{ t.balance }}</td>
        </tr>
      </tbody>
      <tfoot>
        <td>Description</td>
        <td>Transfer</td>
        <td>Amount</td>
        <td>Balance</td>
      </tfoot>
    </table>
  </div>
</div>