<div class="ui top attached inverted header">
  Booking Status
</div>
<div class="ui bottom attached segment">
  <div class="ui mini fluid icon input">
    <input type="date" [(ngModel)]="theDate" (change)="get()"> 
    <i class="calendar icon"></i>
  </div>
  <table class="ui compact center aligned mini celled table">
    <thead>
      <tr>
        <th>
          Time Slot
        </th>
        <th>
          Count
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of slots" [class]="getClass(t.startTime, t.endTime)">
        <td>{{ t.title }}</td>
        <td>{{ t.completed }} / {{ t.totalCount }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th class="right aligned">Total</th>
        <th>{{ completed }} / {{ total }}</th>
      </tr>
    </tfoot>
  </table>
</div>