<div class="ui top attached inverted header">
  Booking Status
</div>
<div class="ui bottom attached segment">
  <div class="ui mini fluid action input">
    <input type="date" [ngModel]="theDate | date:'yyyy-MM-dd'" (ngModelChange)="theDate = $event"> 
    <button class="ui blue button" (click)="get()">Get</button>
  </div>
  <table class="ui compact center aligned mini celled table">
    <thead>
      <tr>
        <th>
          Time Slot
        </th>
        <th>
          Count
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of slots">
        <td>{{ t.title }}</td>
        <td>{{ t.completed }} / {{ t.totalCount }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th class="right aligned">Total</th>
        <th>{{ completed }} / {{ total }}</th>
      </tr>
    </tfoot>
  </table>
</div>