<div class="ui inverted form segment">
  <div class="ui header">
    <i class="wrench icon"></i>Create Task
  </div>
  <div class="two fields">
    <div class="field">
      <label for="category">Category</label>
      <select name="category" class="ui fluid dropdown" [(ngModel)]="categoryId" (change)="loadBatch()">
        <option *ngFor="let d of ds.getCategories()" [value]="d.id">{{ d.name }}</option>
      </select>
    </div>
    <div class="field">
      <label for="slotDate">For Date</label>
      <input type="date" [(ngModel)]="slotDate">
    </div>
  </div>

  <div class="field">
    <label for="customerName">Customer Name</label>
    <div class="ui input">
      <input type="text" #name name="customerName" [(ngModel)]="task.customerName"
        (input)="onSearchChange()" (keydown.enter)="useSuggestion(suggestion[0])">
    </div> 
  </div>
  <a class="ui small-margin blue label" *ngFor="let name of suggestion" (click)="useSuggestion(name)">
    {{ name | titlecase }}
  </a>
  <!-- <div class="two fields"> -->

  <div class="two fields">
    <div class="field">
      <label for="batch">Select Type</label>
      <select class="ui fluid dropdown" name="selectedBatch" (change)="extractDetails()" [(ngModel)]="selectedBatch">
        <option *ngFor="let b of batch" [value]="b.id">
          {{ b.title }} - {{ b.rate }}
        </option>
      </select>
    </div>
  
    <div class="field">
      <label for="slotTime">For Time</label>
      <select name="slotTime" id="" class="ui fluid dropdown" [(ngModel)]="slotId">
        <option>Select Slot</option>
        <option class="item" *ngFor="let s of slots" [value]="s.id">{{ s.title }}</option>
      </select>
    </div>
  </div>
  <!-- </div> -->

  <button class="ui inverted basic green button" [hidden]="task.customerName.length <= 2" (click)="save(false)">
    Save
  </button>
  <button class="ui inverted basic green button" [hidden]="task.customerName.length <= 2" (click)="save(true)">
    Save &amp; Book Slot
  </button>
  <button class="ui inverted basic red button" (click)="reset()">
    Reset
  </button>
</div>