<div class="ui top attached menu">
  <div class="header item">
    Search
  </div>
  <div class="item">
    <div class="ui transparent input">
      <input type="text" name="search" [(ngModel)]="searchText">
    </div>
  </div>
  <div class="right menu">
    <a class="item" (click)="getData()">
      Refresh
    </a>
  </div>
</div>
<table class="ui compact bottom attached table segment">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of directory | search:'id,name,type':searchText | slice:0:5">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.type | titlecase }}</td>
    </tr>
  </tbody>
</table>
