<div class="ui two column grid">
  <div class="four wide column">
    <div class="ui form segment">
      <div class="field">
        <label for="postedOn">Date</label>
        <input type="date" [(ngModel)]="postedOn" (change)="get()">
      </div>
      <div class="field">
        <label for="selectedAccount">Account</label>
        <select name="selectedAccount" [(ngModel)]="selectedAccount">
          <option *ngFor="let a of directory.getAccounts()" [value]="a.id">{{ a.name }}</option>
        </select>
      </div>
      <div class="field">
        <label for="balance">Balance</label>
        <input type="number" [(ngModel)]="balance">
      </div>
    </div>
    <hr>
    <button class="ui green fluid button" (click)="save()">
      Submit
    </button>
  </div>
  <div class="twelve wide column">
    <table class="ui compact celled striped table segment">
      <thead>
        <th>Date</th>
        <th>Account Name</th>
        <th>Opening Balance</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td>{{ row.postedOn | date: 'longDate' }}</td>
          <td>{{ row.accountName }}</td>
          <td>{{ row.openingBalance }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>