<div class="ui two column grid">
  <div class="six wide column">
    <div class="ui form segment">
      <!--For Details of Service-->
      <div class="three fields">
        <div class="four wide field">
          <label for="id">#</label>
          <input type="number" name="id">
        </div>
        <div class="eight wide field">
          <label for="title">Title</label>
          <input type="text" name="title" [(ngModel)]="theBatch.title">
        </div>
        <div class="four wide field">
          <label for="rate">Rate</label>
          <input type="number" name="rate" min="0" [(ngModel)]="theBatch.rate">
        </div>
      </div>
    </div>
    <div class="ui three buttons">
      <button class="ui button" (click)="showSettingsForm('product')">Product</button>
      <button class="ui button" (click)="showSettingsForm('task')"
        [disabled]="theBatch.doesItCreatesTask()">Task</button>
      <button class="ui button" (click)="showSettingsForm('cashbook')">Cashbook
      </button>
    </div>
    <div class="ui form segment">
      <div class="field" *ngFor="let setting of theBatch.requiredKeys[selectedSetting]">
        <label for="{{setting}}">{{setting | titlecase}}</label>
        <input type="text" name="{{setting}}" [(ngModel)]="settingsForm[setting]">
      </div>
      <button class="ui fluid button" (click)="addSetting()">Submit</button>
    </div>
  </div>
  <div class="ten wide column">
    <h3 class="ui header">
      Settings
    </h3>
    <div class="ui three column stackable grid">
      <div class="column" *ngFor="let setting of theBatch.settings">
        <table class="ui compact small table segment">
          <thead>
            <th>KEY</th>
            <th>VALUE</th>
          </thead>
          <tbody>
            <tr *ngFor="let obj of objectKeys(setting)">
              <td>{{ obj }}</td>
              <td>{{ setting[obj] }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <button class="ui fluid labelled icon button" (click)="deleteSetting(setting)">
                  <i class="trash icon"></i>
                  Delete Setting
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <hr>
    <button class="ui fluid green button" (click)="save()" [hidden]="isEmpty()">
      Save
    </button>
  </div>
</div>
<hr>
<app-directory-table></app-directory-table>
