<div class="ui two column grid">
  <div class="four wide column">
    <app-assign-task></app-assign-task>
  </div>

  <div class="twelve wide column">
    <div class="ui scrollable segment">
      <button class="ui right floated blue icon button" (click)='get()'>
        <i class="refresh icon"></i>
      </button>
      <div class="ui three cards">
        <div class="raised card" *ngFor="let task of assigned">
          <div class="ui top attached inverted header">
            {{ task.customerName }}
            <div class="ui right floated red label">{{ task.id }}</div>
          </div>
          <div class="content">
            <img class="ui right floated mini image">
            <div class="meta">{{ task.insertedAt | date:'dd-MMM hh:mm a' }}</div>
            <div class="description">
              Paid {{ task.amountCollected }} for {{ task.categoryName }} {{ task.comment }}. Task Inserted By {{ task.insertedByUser.name }}
            </div>
          </div>
  
          <div class="ui extra content">
            <div title="Activate" class="ui icon green button" [hidden]="task.state == 'ACTIVE'"
              (click)="setActive(task)">
              <i class="icon play"></i>
            </div>
            <div title="Mark Complete" class="ui icon green button" [hidden]="task.state == 'INACTIVE'"
              (click)="setCompleted(task)">
              <i class="icon checkmark"></i>
            </div>
            <button title="Deactivate" class="ui icon blue button" (click)="setInactive(task)"
              [disabled]="task.state == 'INACTIVE'">
              <i class="icon clock"></i>
            </button>
            <div title="Unmark" class="ui icon orange button" (click)="unselect(task)">
              <i class="icon remove"></i>
            </div>
            <div title="Delete" class="ui icon red button" (click)="setRejected(task)"
              [ngClass]="authLevel < 2 ? 'disabled' : ''">
              <i class="icon trash"></i>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</div>